<header>
    <div class="header-conteiner">
        <div class="row">

            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo"> 
                  Logo
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-6 text-center">
                <div class="menu-item">
                    <ul>
                        <li>Sedes</li>
                        <li>Productos</li>
                        <li>Entrenadores</li>
                        <li>Clases</li>
                        <li>Personalizado</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-3">
                <button class="btn-login">Empieza ahora!</button>
            </div>

        </div>
    </div>
</header>
