<footer class="footer-conteiner">
    <section>
        <img class="new-home-v4-footer-logo" src="https://images-platform.99static.com/8QVhsq0xUI9KAGH6WZXUmnWohwI=/0x0:1574x1574/500x500/top/smart/99designs-contests-attachments/97/97489/attachment_97489210" alt="Logo Smart Fit" width="204" height="75">
    </section>
    <section>
        <h2>Siguenos</h2>
        <ul class="footer-social">
            <li><a href="https://www.facebook.com/"> <img src="../assets/img/facebook.png" ></a></li>
            <li><a href=""><img src="../assets/img/instagram.png" ></a></li>
            <li><a href=""><img src="../assets/img/telegram.png" ></a></li>
            <li><a href=""><img src="../assets/img/facebook.png" ></a></li>
        </ul>
    </section>
    <section>
        <span>El precio de la mensualidad no incluye inscripción ni anualidad. Sujeto a cambios sin previo aviso.
            Opción para Planes mediante pagos mensuales con cargo a su tarjeta de crédito o débito. El precio mínimo puede variar entre las sedes.
            No aceptamos cheques.</span>
    </section>
</footer>