.conteiner-sede{
    height: 250px;
    margin: 15px;
    border-radius: 33px;
}

span{
    font-weight: bold;
}
.conteiner-promotions{
    height: 1077px;
    top: 608px;
    left: 59px;
    margin: 15px;
    border-radius: 45px;
    background: rgb(211, 208, 197);

}