.conteiner-sede{
    height: 250px;
    margin: 15px;
    border-radius: 33px;
}

span{
    font-weight: bold;
}
.conteiner-promotions{
    height: 500px;
    top: 608px;
    left: 59px;
    margin: 45px;
    border-radius: 45px;
}


