<div class="col-aut p-4 text-center">
    <section >
        <div class="conteiner-sede">
            <app-carosuel-sede></app-carosuel-sede>
        </div>
    </section>
    <h2>Elige tu Plan y <span>Entrena Ahora</span></h2>
    <section>
        <div class="conteiner-promotions">
            <app-table-promotions></app-table-promotions>
        </div>
        <button class="btn-login" (click)="openModalLogin()">Empieza ahora!</button>
        <div class="" *ngIf="openModalSwithLogin == true">
            <app-login></app-login>
        </div>
    </section>
</div>


