.conteiner-sede{
    height: 250px;
    margin: 15px;
    border-radius: 33px;
}

span{
    font-weight: bold;
}
.conteiner-promotions{
    top: 608px;
    left: 59px;
    margin: 45px;
    border-radius: 45px;
}

.btn-login{
    border: 20px;
    background: #ffad12;
    border: 10px solid #ffad12;
    border-radius: 60px;
    color: black;
}