<table class="table table-striped">
    
    <tr>
      <th scope="col"></th>
      <th>SART</th>
      <th>PRO</th>
      <th>VIP</th>
    </tr>
  
    <tr>
      <th class="row">Área de peso libre, peso integrado, cardio y clases grupales</th>
      <td> <img src="../assets/img/chekc.png" alt=""> </td>
      <td> <img src="../assets/img/chekc.png" alt=""> </td>
      <td><img src="../assets/img/chekc.png" alt=""></td>
    </tr>
  
    <tr>
      <th class="row">Acceso a todas las areas del gimnasio</th>
      <td><img src="../assets/img/chekc.png" alt=""></td>
      <td><img src="../assets/img/chekc.png" alt=""></td>
      <td><img src="../assets/img/chekc.png" alt=""></td>
    </tr>

    <tr>
      <th class="row">Acceso a otras unidades de la cadena</th>
      <td><img src="../assets/img/chekc.png" alt=""></td>
      <td><img src="../assets/img/chekc.png" alt=""></td>
      <td><img src="../assets/img/chekc.png" alt=""></td>
    </tr>

    <tr>
        <th class="row">Sin cargos de cancelación</th>
        <td><img src="../assets/img/cace.png" alt=""></td>
        <td><img src="../assets/img/chekc.png" alt=""></td>
        <td><img src="../assets/img/chekc.png" alt=""></td>
    </tr>

    <tr>
        <th class="row">Active life GO</th>
        <td><img src="../assets/img/cace.png" alt=""></td>
        <td><img src="../assets/img/chekc.png" alt=""></td>
        <td><img src="../assets/img/chekc.png" alt=""></td>
    </tr>

    <tr>
        <th class="row">Active life App</th>
        <td><img src="../assets/img/cace.png" alt=""></td>
        <td><img src="../assets/img/cace.png" alt=""></td>
        <td><img src="../assets/img/chekc.png" alt=""></td>
    </tr>

    <tr>
        <th class="row">Invitar a 5 amigos al mes</th>
        <td><img src="../assets/img/cace.png" alt=""></td>
        <td><img src="../assets/img/cace.png" alt=""></td>
        <td><img src="../assets/img/chekc.png" alt=""></td>
    </tr>

    <tr>
        <th ></th>
        <td> 
            <span>DESDE $ 55.000/mes 12 meses de fidelidad</span> 
        </td>
        <td>
            <span>DESDE $ 70.000/mes Sin multa de cancelación </span> 
        </td>
        <td>
            <span>DESDE $ 150.000/mes Sin multa de cancelación </span>
        </td>
    </tr>
  </table>
